#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Use network installation
url --url="http://192.168.87.8/ds/images_file/centos/7_9_0"
# Root password
rootpw --iscrypted $6$BVe8ZEOip/HpFZdV$Z7mnL4IE4GoQ7TlQ4dN35zH5E7uFUvx4jsBTYsUO/oH/lFwyXK3.cjBobLStHi.V/z3LIqAXhPFXpQcpJmzCC/
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Taipei --isUtc
user --groups=wheel --name=isaac --password=$6$gdseC1fB8i8rSebJ$8prmFX0cppPXoZ95pSQ3fpdpHOjR78aN7cCAHpSg7gXtOBGMXUwfcxz3rwCIQuIQkL3fQ5tghSnec5jle1GKp. --iscrypted --gecos="isaac"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=20480
part /boot/efi --fstype="efi" --ondisk=sda --size=500 --fsoptions="umask=0077,shortname=winnt"

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
